<div class="align-items-center">
  <div class="d-flex justify-content-center bg-dark">
    <h2 class="text-white">Hacker news</h2>
  </div>
  <div class="">
    <ul ngbNav #nav="ngbNav" class="nav-tabs bg-dark">
      <li ngbNavItem>
        <a ngbNavLink routerLink="/" [class.activated]="currentUrl == '/'"
          >Trending News</a
        >
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/top" [class.activated]="currentUrl == '/'"
          >Top News</a
        >
      </li>
    </ul>
  </div>
</div>
