.page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}

.page-link {
  color: #212529;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
  color: lightgray;
}
